/* styles/purchasestyles.css */


#card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}


#card_header{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(73,144,221,1) 66%); 
}