/* styles/purchasestyles.css */


#card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;/* Desplazamiento horizontal, desplazamiento vertical, desenfoque, color */
}

#card_header {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(73,144,221,1) 66%); 
}

table {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
}

