.text-container {
    margin-top: 20px;
}

#carouselExampleSlidesOnly {
    position: absolute;
    top: 65%; /* Posiciona el carrusel a la mitad de la altura de la ventana */
    left: 50%; /* Posiciona el carrusel a la mitad del ancho de la ventana */
    transform: translate(-50%, -50%); /* Centra exactamente el carrusel */
    width: 70%; /* Ancho del carrusel */
    max-width: 700px; /* Ancho máximo del carrusel */
}

.border-translucent {
    padding: 5px;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 700px; /* Ancho máximo del carrusel */
}

.carousel-inner .carousel-item {
    position: relative;
    height: 400px; /* Altura ajustada del carrusel */
    width: 750px;
}

.carousel-inner .carousel-item img {
    height: 100%; /* Ajustar la imagen al 100% de la altura del contenedor */
    object-fit: cover; /* Cubrir completamente el área designada */
    object-position: center bottom; /* Alinear la imagen centrada horizontalmente y abajo verticalmente */
}

.card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(182, 215, 238, 0.8); /* Fondo traslúcido */
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.card-text {
    margin: 0;
}
