body {
    font-family: Arial, sans-serif;
    background-size: 100% 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.text-container {
    margin-top: 20px;
}

#carouselExampleSlidesOnly {
    margin-bottom: 0;
    width: 70%; /* Ancho del carrusel */
    max-width: 700px; /* Ancho máximo del carrusel */
}

.border-translucent {
    padding: 5px;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 700px; /* Ancho máximo del carrusel */
}

.carousel-inner .carousel-item img {
    height: 100%; /* Ajustar la imagen al 100% de la altura del contenedor */
    object-fit: cover; /* Cubrir completamente el área designada */
    object-position: center bottom; /* Alinear la imagen centrada horizontalmente y abajo verticalmente */
}

.card-description {
    width: 100%;
    background-color: rgba(182, 215, 238, 0.8); /* Fondo traslúcido */
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.card-text {
    margin: 0;
}


.contenedor-formulario {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    
}

.formulario {
    display: flex; /* Utiliza flexbox para disposición horizontal */
    flex-direction: row;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px;
    background-color: hsla(0, 0%, 100%, 0.938);
    border:2px solid hsl(223, 80%, 63%);
    flex-wrap: wrap;
    border-radius: 8px;
    padding-left: 0;
    
}


@media screen and (max-width: 600px) {
    .formulario {
        flex-direction: row; /* Cambiar la dirección a columna en pantallas estrechas */
        align-items: center; /* Centrar los elementos horizontalmente */
    }
}


fieldset {
    border: none;  
    padding: 0px;
    margin: 0px; 
}
legend {
    float: left;
    color: hsl(223, 80%, 63%);
    font-size: 15px;
}

.input-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;

}

.input-container:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 250ms;
}

.column {
    flex-wrap: wrap;
    align-items: center;
}

.svg-container {
    margin-right: 10px; /* Espacio entre el SVG y el input */
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario select {
    padding: 5px;
    margin-right: 10px; /* Espacio entre campos */
    background-color: hsla(0, 0%, 100%, 0.938);
    outline: none;
    justify-content: center;
    border: none;
    height: 40px;
    font-size: 12px;
    margin-top: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.formulario input[type="date"] {
    color: #000;
}

#fecha-partida::-webkit-calendar-picker-indicator{
    display: none;
}
#fecha-regreso::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="submit"] {
    margin: 2vw;
    padding: 5px 80px;
    background-color:  hsl(223, 80%, 63%); /* Color de fondo del botón */
    color: #000; /* Color del texto del botón */
    border: 3px solid hsl(223, 80%, 63%);
    border-radius: 5px;
    font-size: 25px;
}

input[type="submit"]:hover{
    transition: 150ms;
    font-size: 29px;
}

