
body {
    font-family: Arial, sans-serif;
    background-size: 100% 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}

#map { 
    height: 100%;
    width: 100%;
    position: absolute;input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }
    top: 0;
    left: 0;
    z-index: -1;
    /*filter: blur(1px);*/
}

#main_box {
    width: 80vw;
    height: 80vh;
    background-color: hsl(227, 42%, 83%, 0.6);
    margin-left: 10vw;
    margin-top: 5vw;
    text-align: center;
    backdrop-filter: blur(8px) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: hsl(262, 55%, 60%);
    font-size: 3vw;
    font-style: italic;
    margin-top: 8vw;
}

h2 {
    font-size: 1.8vw;
    margin-top: 5vw;
}



.contenedor-formulario {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    align-items: center; /* Centra los elementos horizontalmente */
    
}

.formulario {
    display: flex; /* Utiliza flexbox para disposici贸n horizontal */
    flex-direction: row;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px;
    background-color: hsl(227, 42%, 83%);
    border:2px solid hsl(262, 55%, 60%);
    flex-wrap: wrap;
    border-radius: 8px;
    padding-left: 0;
    
}



@media screen and (max-width: 600px) {
    .formulario {
        flex-direction: row; /* Cambiar la direcci贸n a columna en pantallas estrechas */
        align-items: center; /* Centrar los elementos horizontalmente */
    }
}



fieldset {
    border: none;  
    padding: 0px;
    margin: 0px; 
}
legend {
    float: left;
    color: hsl(262, 55%, 60%);
}

.input-container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;

}

.input-container:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: 250ms;
}


.column {
    flex-wrap: wrap;
    align-items: center;
}

.svg-container {
    margin-right: 10px; /* Espacio entre el SVG y el input */
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario select {
    padding: 5px;
    margin-right: 10px; /* Espacio entre campos */
    background-color: hsla(227, 43%, 83%, 0.938);
    outline: none;
    justify-content: center;
    border: none;
    height: 40px;
    font-size: 12px;
    margin-top: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.formulario input[type="date"] {
    color: #000;
}

#fecha-partida::-webkit-calendar-picker-indicator{
    display: none;
}
#fecha-regreso::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="submit"] {
    margin: 2vw;
    padding: 5px 80px;
    background-color:  hsl(223, 80%, 63%); /* Color de fondo del bot贸n */
    color: #000; /* Color del texto del bot贸n */
    border: 3px solid hsl(262, 55%, 60%);
    border-radius: 5px;
    font-size: 25px;
}

input[type="submit"]:hover{
    transition: 150ms;
    font-size: 29px;
}

