{% extends "base.html" %}
{% load static %}
{%block link%}

    <link rel="stylesheet" href="{% static '/styles/purchasestyles.css' %}">
    <title>Purchase Ticket</title>
{% endblock link%}
{% block content %}
    
    <div class="container h-100%">
        <h1>Purchase Ticket</h1>
        <div class="card mb-3 mt-3">
            <div>
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {{ flight.fk_flight.fk_route.fk_airport_departure.airport_code}} --> {{ flight.fk_flight.fk_route.fk_airport_arrival.airport_code }} 
                    <span> Departure time {{ flight.fk_flight.departure_time }}</span>
                </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">PRICE ${{ flight.fk_flight.ticket_price }}</h5>
                <p class="card-text">
                    <span>Origin:</span> {{ flight.fk_flight.fk_route.fk_airport_departure.fk_city.name }} -> 
                    <span>Destiny:</span> {{ flight.fk_flight.fk_route.fk_airport_arrival.fk_city.name }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div>Tickets: {{ flight.available_tickets }}</div>
                    <!-- Aquí podrías agregar un formulario para completar la compra -->
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="d-flex justify-content-end">
                <a type="submit" class="btn btn-success">Confirm purchase</a>
            </div>  
            
        </form>
        
        
    </div>
{% endblock %}