{% extends "base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static '/styles/success.css' %}" />
{% endblock link %} {% block content %}

<div class="container align-items-center">
  <div class="text-center">
    <div class="success-animation m-5">
      <svg
        class="checkmark"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 52 52"
      >
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path
          class="checkmark__check"
          fill="none"
          d="M14.1 27.2l7.1 7.2 16.7-16.8"
        />
      </svg>
    </div>

    <div id="message">
      <div
        class="alert alert-success mt-0 "
        id="completion-message"
        role="alert"
        style="display: none"
      >
        <h3>Compra finalizada</h3>
      </div>
    </div>


    <div class="row w-40">
        
    </div>

    {% comment %}
    <div>{{ ticket }}</div>
    {% endcomment %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const checkmark = document.querySelector(".checkmark");
    checkmark.addEventListener("animationend", function (event) {
      if (event.animationName === "scale") {
        document.getElementById("completion-message").style.display = "block";
      }
    });
  });
</script>

{% endblock content %}
