{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity Airlines</title>
    <link rel="stylesheet" href="{% static 'styles/landing.css' %}"> 
    <title>Infinity Airlines</title>

</head>
<body>
    <div id="content" > 
        <h1> Infinity Airlines </h1>
        <button class="button">Registrarse</button>
        <button class="button">Iniciar sesión</button>
    </div>  
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{% static 'imagenes/dubai.webp %'}" class="d-block w-100">
        </div>
        <div class="carousel-item">
        <img src="..." class="d-block w-100">
        </div>
        <div class="carousel-item">
        <img src="..." class="d-block w-100">
        </div>
    </div>
    </div>
</body>
</html>