{% load static %}
<!DOCTYPE html>
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'baseHtml/styles/baseHtml.css' %}"> 
    <link rel="icon" href="{% static 'svg/plane.svg'%}" type="image/png">
    {% block link %}
    {% endblock link %} 
    <title>{% block title %} Infinity Airlines {% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  navbar-custom py-3">
            <div class="container-fluid">
                <a class="navbar-brand fs-2">Infinity Airlines</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav position-absolute top-0 end-0 false fs-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Buscar vuelos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Iniciar sesión</a>
                        </li>
                        {% comment %} {% if loggeado %}
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mis reservas</a>
                            </li>
                        {% endif %} {% endcomment %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main> 
        {% block content %}
        {% endblock content %}
    </main>
    {% block footer %}
    <footer class="position-absolute top-100 start-50 translate-middle">
        <div>
            <p>Informacion de contacto: </p>
            <p>Telefono: +542901583765 </p>
            <p>Mail: infinityAirlines@travel.com.ar </p>
        </div>
    </footer>
    {% endblock footer %}
    {% bootstrap_javascript %}
</body>
</html>
