#map { 
    height: 100%;
    width: 100%;
    position: absolute;input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }
    top: 0;
    left: 0;
    z-index: -1;
    /*filter: blur(1px);*/
}

#main_box {
    width: 80vw;
    height: 80vh;
    background-color: hsla(229, 31%, 93%, 0.503);
    margin-left: 10vw;
    margin-top: 5vw;
    backdrop-filter: blur(8px) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Añadido para la barra de desplazamiento vertical */
    overflow-x: hidden; /* Puedes cambiarlo a 'auto' si también necesitas desplazamiento horizontal */
}

.navbar-custom {
    /* background-color: hsla(227, 62%, 75%, 0.6); */
    color: black; 
}

.navbar-custom .nav-link:hover {
    background-color: none;
    color: white;
    border-radius: 5px; 
}

body{
    background-image: linear-gradient(to bottom, #bad0f3, #a0beee, #85acea, #6a9ae4, #4b88df);
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir la pantalla */
    background-attachment: fixed; 
}

footer{
    background-color: #417dd39a;
    width: 100vw;
    color:rgb(5, 5, 5);
}

.footer-content p {
    text-align: center;
    margin: 0; 
    padding: 2px 0; 
}