.navbar-custom {
    background-color: #355cc8c5;
}

.navbar-custom .nav-link:hover {
    background-color: rgba(204, 207, 244, 0.428); 
    color: white;
    border-radius: 5px; 
}

body{
    background-color: #c7dff9;
}

footer{
    background-color: #355cc8c5; 
    width: 100vw;
}

.footer-content p {
    margin: 0; /* Elimina el margen por defecto */
    padding: 2px 0; /* Ajusta el padding para reducir el espacio vertical */
}