.google-font {
    font-family: 'Dancing Script', cursive;
}

.navbar-custom {
    background-color: rgba(208, 233, 240, 0.306);
    color: white; 
}

.navbar-custom .nav-link:hover {
    background-color: rgba(100, 228, 250, 0.5);
    color: white;
    border-radius: 5px; 
}

body{
    background-image: linear-gradient(to bottom, #bad0f3, #a0beee, #85acea, #6a9ae4, #4b88df);
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir la pantalla */
    background-attachment: fixed; 
}

footer{
    background-color: #417dd39a;
    width: 100vw;
    color:rgb(5, 5, 5);
}

.footer-content p {
    text-align: center;
    margin: 0; 
    padding: 2px 0; 
}